@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.search-container{
    backdrop-filter: blur(1px);
}
.nawab-heading{
    gap: 9px;
    line-height: 60px;
    letter-spacing: 5px;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.input-field{
    border: 1px solid #fff;
    color: #fff;
    
}